# Vagrant specific
.vagrant

# scala specific
project/
target/

# Mac OS junk
.DS_Store
benchmarks

# emacs files
[#]*
.[#]*
.*
*~

# other stuff
*.dot
*.log

# Intellij IDEA
*.ipr
*.iws
.idea
*.iml

/results/determinism.csv
/results/idempotence.csv
/results/sizes.csv
/results/determinism.pdf
/results/idempotence.pdf
/results/sizes.pdf
