# Vagrant specific
.vagrant

# scala specific
/project/target
/target
/project/project
/package-server/project/target
/package-server/project/project
/package-server/target

# Mac OS junk
.DS_Store
benchmarks

# emacs files
[#]*
.[#]*
.*
*~

# other stuff
*.dot
*.log

# Intellij IDEA
*.ipr
*.iws
.idea
*.iml

/results/determinism.csv
/results/idempotence.csv
/results/sizes.csv
/results/scalability.csv
/results/scalability.pdf
/results/commutativity.pdf
/results/determinism.pdf
/results/idempotence.pdf
/results/sizes.pdf
/logs
